.music-container__volume{
    -webkit-appearance: none;
    background-color: #a1c4fd;
    width: 150px;
    height: 5px;
    cursor: pointer;
    border: 0;
    margin: 0;
    align-self: center;
}

.music-container__volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: #6ea0f0;
    width: 10px;
    height: 10px;
}